page-torneos {
    ion-card-content.card-content.card-content-md {
        display: flex;
        flex-direction: column;
        padding: 3px 16px;
        background: color($colors, grey);


        .card-content {
            display: block;
            text-align: -webkit-auto;
            margin-top: 7px;

            > button {
                background: color($colors, primario);
            }
        }
    }

    .card-title-md {
        text-align: center;
        font-weight: bold;
    }
}
