page-login {
  .imagenLogin{
    //max-width: 60%;
  }

  div#logo {
    padding: 0;
  }

  .containerButtons {
      padding-top: 0 !important;
  }
  .content {
    background: color($colors, primario);
  }
  .item {
    background: color($colors, primario);
  }

  ion-label {
    color: color($colors, light);
    text-align: center;
    margin: 0;
  }

  .label {
    margin: 0 0 5px 0;
  }

  ion-input {
    background: #fff;
    border-radius: 500px;
    margin: 0 0 25px 0;
  }
  .singUpButton{
    padding-top: 0 !important;
  }

  .scroll-content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }

  .signup-container {
    max-height: 300px;
    overflow: auto;
  }
}
