page-inscripciones {
    .titulo {
        text-align: center;
        font-weight: bold;
    }

    .contenido {
        display: block;
        text-align: -webkit-auto;
        border: 1px ridge color($colors, dark);;
    }

    .container{
        padding: 1%;
    }

    .card-inscripciones {
        .card-content-md{
            // padding: 0;
        }

        .title-container {
            display: flex;
            height: 104px;
            .img-title {
                width: 29%;
                margin-left: 5%;
                margin-top: 3%;
            }

            .card-title-md {
                // margin-top: 20px;
                // text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 13px;
            }
        }
    }
}
