page-inscripciones {
    .titulo {
        text-align: center;
        font-weight: bold;
    }

    .contenido {
        display: block;
        text-align: -webkit-auto;
        border: 1px ridge color($colors, dark);;
    }

    .container{
        padding: 1%;
    }
}
