page-user {
    .toolbar-background {
        //background:color($colors, primario);
    }

    .search-container {
        display: flex;
        justify-content: space-between;

        .custom-search {
            display: flex;
            border-bottom: solid color($colors, dark) 2px;
            padding: 0px;
            /* border-radius: 17px; */
            margin: 14px 9px 9px;
            color: color($colors, dark);
            height: 23px;
            > i {
                margin: 1.7px 0px 0px 5px;
                height: 20px;
                font-size: 1.5rem;
            }
    
            > input {
                margin: 1px;
            }

            .text-input-md {
                margin: 5px 8px;
            }

            ion-input.input.input-md {
                height: 20px;
            }
        }
    }

    .user-container, .menu-container {
        margin: 6px 12px;
        padding: 5px 10px 1px;
        font-size: 2.4rem;
        color: color($colors, dark);
    }

    .user-photo ion-avatar {
        margin: 0 auto;
        width: 120px;
        height: 120px;
      }
    
    .list-md{
        // margin-top: 24px;
        p {
        font-size: 12px;
        font-weight: 400;
        padding-bottom: 4px;
        };
        h2 {
        font-weight: 400;
        opacity: .5;
        }
    }

    .label-md {
        margin: 5px 8px 13px 0;
    }

    
    .scroll-content {
        margin-top: 36px;
        //background: #d8d6d6;
    }


    .item-u {
        background: #f5f5f51c;
        font-size: 3rem;

        p {
            font-weight: bold;
        }

        .label-u:last-child {
            // margin-left: 4px;
        }
    }

    .item-u:nth-child(odd) {
        background: #b9b9b91c;
    }
}
